*,
*::before,
*::after {
  box-sizing: border-box;
}

/* object pointers */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background-color: #e9edee;
}

main {
  margin: 2em;
}

article {
  background-color: #ffffff;
}

article div {
  margin: auto;
}

section {
  background-image: url(../assets/bg-image.png);
  background-size: 92%;
  background-repeat: repeat;
  background-position: 0em -1em;
  overflow: hidden;
  padding-top: 3em;
  padding-bottom: 4em;
}

header div img {
  display: block;
  height: 60px;
  padding-top: 1em;
}

footer div img {
  width: 300px;
}

/* classes */

.centered {
  text-align: center;
}

.bg-orange {
  background-color: #f56600;
}

.bg-darkgray {
  background-color: #222f3f;
}

.bg-gray {
  background-color: #364759;
}

.c-white {
  color: #e9edee;
}

.c-blue {
  color: #22616b;
}

.p-1l {
  padding-left: 1em;
}

.p-2l {
  padding-left: 2em;
}

.p-1tb {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.p-2tb {
  padding-top: 1em;
  padding-bottom: 1em;
}

.p-4tb {
  padding-top: 4em;
  padding-bottom: 4em;
}

.p-1b {
  padding-bottom: 0.5em;
}

.p-1t {
  padding-top: 0.5em;
}

.p-2b {
  padding-bottom: 2em;
}

.m-2t {
  margin-top: 2em;
}

.m-3r {
  margin-right: 3em;
}

.links {
  text-decoration: none;
}

.xx-large {
  font-size: xx-large;
}

.x-large {
  font-size: x-large;
}

.small {
  font-size: medium;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 500;
}

.card-img {
  display: inline-block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overflowed {
  overflow: hidden;
}

.card {
  display: inline-block;
  width: 20%;
  height: 25em;
  border-radius: 30px;
}

.img-resize {
  width: 100%;
}

.shadowed {
  box-shadow: 30px 15px 30px #d4d8dd;
}
